.list {
    width: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    top: 130px;
    z-index: 1;
    right: 180px;
}

.list-component-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: #787878;
    border-bottom: 0.5px solid #C9C9C9;
    padding: 15px;
    cursor: pointer;
}

.list-component-text:nth-child(4) {
    border-bottom: none;
}

.list-component-icon {
    margin: 0px 15px;
    font-weight: 400;
    font-size: 20px;
    color: #56CCF2;
}