.container1 {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container1-span {
    display: flex;
    flex-direction: row;
    margin: 15px 0 0 30px;
}

.container1-icon {
    color: #56CCF2;
    font-size: 14px;
    margin-right: 5px;
}

.container1-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    color: #4F4F4F;
    margin-right: 15px;
}

.container1-button-orange,
.container1-button-green,
.container1-button-red {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    color: #504F4F;
    width: 123px;
    height: 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 15px 30px 0 0;
}

.container1-button-orange {
    background: #FFAB43;
}

.container1-button-green {
    background: #58c644;
}

.container1-button-red {
    background: #f74747;
}

.container2 {
    width: 900px;
    height: 193px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px #D1D1D1;
    margin-bottom: 30px;
}

.container2-2 {
    width: 900px;
    height: 193px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container2-div1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container2-img {
    height: 123px;
    width: 123px;
    border-radius: 50%;
    margin: 0 20px 0 30px;
}

.container2-p1,
.container2-p2,
.container2-p3 {
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: #4F4F4F;
    margin: 0 0 8px 0;
}

.container2-p1 {
    font-weight: 700;
}

.container2-p2 {
    color: #AAAAAA;
}

.container2-p2,
.container2-p3 {
    font-weight: 500;
}

.container2-div2,
.container2-p {
    display: flex;
    flex-direction: column;
}

.container2-button1,
.container2-button2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    width: 225px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}

.container2-button1 {
    background-color: #56CCF2;
    color: white;
    margin-bottom: 10px;
}

.container2-button2 {
    color: #A7A7A7;
}

.container2-button1:hover,
.container2-button2:hover {
    background-color: #9ad8ec;
    color: #4F4F4F;
}