.main-buttons button {
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: #A0A0A0;
    border: none;
    background-color: white;
    margin: 0px 10px 50px 0px;
    cursor: pointer;
}

.main-buttons {
    width: 800px;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteiner1 {
    color: #4F4F4F;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.22px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;

}