.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.main-buttons button {
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: #A0A0A0;
    border: none;
    background-color: white;
    margin: 0px 10px 50px 0px;
    cursor: pointer;
}

.main-buttons button:hover {
    color: #9DE7FF;
    font-size: 15px;
    border-bottom: 2px solid #9DE7FF;
}

.main-buttons {
    width: 900px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}