.footer {
    background-color: rgb(79, 79, 79);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.footer1 {
    width: 900px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-img {
    background-image: url('../images/5.jpg');
    height: 46px;
    width: 151px;
}

.instagram,
.facebook,
.youtube {
    background-size: cover;
    height: 30px;
    width: 30px;
    margin-right: 15px;
    background-color: white;
    border-radius: 50%;
    margin: 15px 0px 30px 0px;
    cursor: pointer;
}

.instagram {
    background-image: url('../images/8.png');
    margin-right: 25px;
}

.facebook {
    background-image: url('../images/9.png');
    margin-right: 25px;
}

.youtube {
    background-image: url('../images/10.png');
}

.App-Store,
.Google-Play {
    background-image: url('../images/6.png');
    background-size: cover;
    height: 38px;
    width: 112px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.footer-imgs1,
.footer-imgs2 {
    display: flex;
    flex-direction: row;
}

.App-Store {
    background-image: url('../images/6.png');
    background-color: white;
    margin-right: 10px;
}

.Google-Play {
    background-image: url('../images/7.png');
}

.footer-p {
    width: 300px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: #AFAFAF;
    margin: 15px 0px;
}

.footer-ul li {
    list-style-type: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    margin-bottom: 37px;
    cursor: pointer;
}

.footer-ul {
    margin: 0;
    padding: 0;
}

.list-footer-text {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: white;
    padding: 12px;
}