.component1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.component1-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.component1-h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    color: #4F4F4F;
}

.component1-h1 span {
    position: relative;
}

.component1-h1 span::before {
    content: '';
    width: 101%;
    height: 55%;
    z-index: -1;
    position: absolute;
    border-bottom: solid 15px #ff9e28da;
}

.component1-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30.58px;
    letter-spacing: -0.30000001192092896px;
    text-align: left;
    margin: 30px 0px 50px 0px;
    color: #4F4F4F;
}

.b1 {
    position: relative;
}

.b1::before {
    content: '';
    width: 100%;
    height: 80%;
    z-index: -1;
    position: absolute;
    border-bottom: solid 7px #ff9e28da;
}

.b2 {
    color: #56CCF2;
}

.component1-button1,
.component1-button2 {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    line-height: 24.38px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    border: 2px solid #56CCF2;
    cursor: pointer;
}

.component1-button1 {
    color: #56CCF2;
    margin-right: 20px;
    background-color: white;
}

.component1-button2 {
    background-color: #56CCF2;
    color: white;
}

.component1-img {
    background-image: url("../images/3.png");
    background-size: cover;
    width: 698px;
    height: 506px;
    transform: rotateY(-180deg);
}

.component1-img-1,
.component1-img-2,
.component1-img-3 {
    border-radius: 30px;
    background: linear-gradient(104.74deg, #56CCF2 19.59%, #3BAACD 83.11%);
    width: 639.92px;
    height: 278px;
    position: absolute;
    z-index: -1;
    top: 350px;
}

.component1-img-1 {
    opacity: 0.15;
    transform: rotateZ(-5.71deg);
}

.component1-img-2 {
    opacity: 0.46;
    transform: rotateZ(-15.81deg);

}

.component1-img-3 {
    opacity: 1;
    transform: rotateZ(-24.92deg);
}